@CHARSET "UTF-8";
.bm {
	margin-bottom: 10px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(205, 205, 205);
}

.bn {
	margin-bottom: 10px;
}

.ptm {
	padding-top: 10px !important;
}

.wp {
	margin: 0px auto;
	width: 998px;
	clear: both;
}

.cl::after {
	height: 0px;
	clear: both;
	display: block;
	visibility: hidden;
	content: ".";
}

.cl {
	zoom: 1;
}

#ct {
	min-height: 300px;
}

.agreement p {
	font-size: 12px;
	text-indent: 24px;
	line-height: 20px
}

.form_area {
	width: 750px;
	margin-left: 120px;
}


.form_area h2.title {
    display: block;
    font-family: "微软雅黑";
    font-weight: normal;
    margin: 0 0 24px;
    text-align: center;
}
h2 {
    font-size: 24px;
}
.back_home {
    font-family: "宋体";
    font-size: 13px;
    font-weight: normal;
    margin-top: 15px;
    margin-left: 650px;
    margin-bottom: 25px;
}


.form_area .box {
    height: 416px;
    overflow: hidden;
    padding: 11px 12px;
    width: 714px;
}
.box {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    width: 603px;
}

.form_area .box .bd {
	height: 388px;
	padding: 14px 15px 14px 24px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid #eaeaea;
}
.t_c {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}
 .sel_btn{
            height: 30px;
            width: 107px; 
            line-height: 30px;
            background: #e4e4e4;
            border: 1px #808080 solid;
            border-radius: 3px;
            /*color: #fff;*/
            display: inline-block;
            text-decoration: none;
            font-size: 14px;
            outline: none;
        } 