@CHARSET "UTF-8";
/*基本信息*/
body {font:12px Tahoma;margin:0px;text-align:center;background:#FFF;}
a:link,a:visited {font-size:12px;text-decoration:none;}
a:hover{}
/*页面层容器*/
#container {width:1000px;margin:10px auto}
/*页面头部*/
#Header {width:1000px;margin:0 auto;height:200px; background:url(../image/logo.jpg) no-repeat}
/*页面主体*/
#PageBody {width:1000px;margin:0 auto;height:400px;background:#CCFF00}
/*页面底部*/
#Footer {width:1000px;margin:0 auto;height:50px;background:#00FFFF}



